<div class="container mt-5">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="card mb-5">
        <div class="card-body">
          <form (ngSubmit)="addEvent()">
            <div class="form-group">
              <label for="title">Введите название события:</label>
              <input type="text" class="form-control" id="title" [(ngModel)]="item.title" name="title">
            </div>
            <div class="form-group">
              <label for="text">Описание:</label>
              <input type="text" class="form-control" id="text" [(ngModel)]="item.text" name="text">
            </div>
            <div class="form-group">
              <label for="date">Дата:</label>
              <input type="date" class="input" id="date" [(ngModel)]="item.date" name="date">
            </div>
            <div class="form-group">
              <label for="relative">Как вы к этому относитесь:</label>
              <input type="radio" name="Contact" id="relative" value="pos" [(ngModel)]="item.relative" name="relative"> Положительно
              <input type="radio" name="Contact" id="relative" value="neu" [(ngModel)]="item.relative" name="relative"> Нейтрально
              <input type="radio" name="Contact" id="relative" value="neg" [(ngModel)]="item.relative" name="relative"> Негативно
            </div>
           </form>
          </div>
      </div>
    </div>
  </div>
</div>
<!--    <div>-->
<!--      <label class="control-label">Ссылка на фото:</label>-->
<!--      <input class="input">-->
<!--      <button class="btn btn-primary">Показать</button><br>-->
<!--      <img src="imgUrl" class="img-rounded">-->
<!--    </div>-->
<!--  <br>-->
<!--    <div>-->
<!--      <label class="control-label">Ссылка на видео:</label>-->
<!--      <input class="input">-->
<!--      <button class="btn btn-primary">Показать</button>-->
<!--      <p>{{videoUrl}}</p>-->
<!--    </div>-->

  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d82067.75251194948!2d36.2698731396484!3d49.99978470251004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1581164812946!5m2!1suk!2sua" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
  <button class="btn btn-primary" routerLink="/"
          [disabled]=" !item.title || !item.text || !item.date || !item.relative "
  >Добавить</button>





